.gradle/
build/
*.apk
*.ap_
*.dex
local.properties
bin/
gen/
out/
proguard/
*.log
.navigation/
captures/
.externalNativeBuild/
.cxx/
*.iml
.idea/
.DS_Store
*.jks
*.keystore
target/
.classpath
*.suo
.settings/
.vscode/
*.swp
*~
launch.json
.gradle
.idea